<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Make a new poll</h3>
        </div>
        <div class="panel-body">
            <form name="pollForm" novalidate class="css-form" novalidate>
            <!--frontend uses Angular to talk to backend-->
            <!--/newpoll route-->
            <!--NewPollController: uses Polls service to talk to REST API server-->
            <!--attaches savePoll method to $scope-->
            <!--attaches a back method to $scope-->
            <!--savePoll calls createPoll service: $http.post to /polls and returns a response-->
                <div class="form-group">
                    <label>Title (required)</label>
                    <input name="pollTitle" id="poll" type="text" class="form-control" placeholder="Title of your poll" ng-model="poll.title" required>
                    <span class="errorMessage" ng-show="pollForm.pollTitle.$dirty && pollForm.pollTitle.$invalid">A title is required</span>
                </div>
                <div class="form-group">
                    <label>Options (seperated by spaces)</label>
                    <input name="pollOptions" class="form-control" placeholder="Possible answers, separated by spaces"  ng-model="poll.options" id="poll" ng-trim="false" ng-list="&#32;" ng-pattern="/^((\b[\w]{2,40}\b)\s*){2,}$/" ng-required="true">
                    <!--/^[a-z]+(?:\s[a-z]+)+$/-->
                    <span class="errorMessage" ng-show="pollForm.pollOptions.$dirty && pollForm.pollOptions.$invalid">Please give at least 2 options</span>
                    <!--disable submit button $dirty = fields touched and $invalid (fields clicked but invalid input)-->
                </div>
                <!--<input type="submit" class="btn btn-default btn-primary" ng-disabled="pollForm.pollTitle.$invalid || pollForm.pollOptions.$invalid"  ng-click="savePoll(poll)">-->
                <input type="submit" class="btn btn-default btn-primary" ng-disabled="pollForm.$invalid" ng-click="savePoll(poll)">
            </form>
            
        </div>
    </div>
</div>