<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Make a new poll</h3>
        </div>
        
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Title (required)</label>
                    <input id="poll" type="text" class="form-control" placeholder="Title of your poll" ng-model="poll.title" required>
                </div>
                <div class="form-group">
                    <label>Options (seperated by a line)</label>
                    <input id="poll" type="text" class="form-control" placeholder="Possible answers, seperated by a line" ng-model="poll.options" required>
                </div>
                <button type="submit" class="btn btn-default" ng-click="savePoll(poll)">Submit</button>
            </form>
            
        </div>
    </div>
</div>