<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Make a new poll</h3>
        </div>
        
        <div class="panel-body">
            <form>
            <!--frontend uses Angular to talk to backend-->
            <!--/newpoll route-->
            <!--NewPollController: uses Polls service to talk to REST API server-->
            <!--attaches savePoll method to $scope-->
            <!--attaches a back method to $scope-->
            <!--savePoll calls createPoll service: $http.post to /polls and returns a response-->
                <div class="form-group">
                    <label>Title (required)</label>
                    <input id="poll" type="text" class="form-control" placeholder="Title of your poll" ng-model="poll.title" required>
                </div>
                <div class="form-group">
                    <label>Options (seperated by a line)</label>
                    <textarea class="form-control" placeholder="Possible answers, separated by a line" ng-model="poll.options" required rows="4" id="poll" ng-trim="false" ng-list="&#10;"></textarea>
                    <!--<input id="poll" type="text" class="form-control" placeholder="Possible answers, seperated by a line" ng-model="poll.options" required>-->
                </div>
                <button type="submit" class="btn btn-default btn-primary" ng-click="savePoll(poll)">Submit</button>
            </form>
            
        </div>
    </div>
</div>