<!--EditPollController controls the $scope-->
<!--controller uses getPoll service to get the poll with id attaches it to $scope.poll-->
<!--so poll has our specific poll-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2>
            {{poll.title}}
          </h2>
          <h5>
            Created by: {{poll.displayName}}
          </h5>
          <form name="voteForm">
            <div ng-show="userID === poll.userID" class="form-group">
                <label><input type="checkbox" ng-model="checked" placeholder="add text here" ng-click="poll.vote = ''"> I want my own option</label>
                 <!--Reset poll.vote to empty string when clicked so that vote button is disabled-->
            </div>
             <div class="form-group" ng-show="checked === true">
            <!--only show extra option when useID from isLoggedin MainController === poll.userID-->  
               <label for="vote">Vote with my own option</label>
               <input ng-model="poll.vote" placeholder="Enter your own option" class="form-control" type="text">
            </div>
            <div class="form-group" ng-hide="checked === true">
              <label for="vote">I would like to vote for:</label>
              <select class="form-control" id="vote" ng-model="poll.vote" ng-options="item.option as item.option for item in poll.options">
              <!--bind the chosen vote to the scope poll.vote-->  
              <!--"What for value" as "what to display" for item(placeholder) in array-->  
              <option value="" ng-disabled="true" disabled>Please give your vote</option>
              </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" ng-click="votePoll(poll)" ng-disabled="poll.vote === undefined || poll.vote === ''">Vote</button>
            <!--call the votePoll method with the poll.vote property that has the key that was chosen-->
            <!--disable vote button when poll.vote is empty string or undefined-->

          </form>
          </br>
        </div>
        <div class="col-md-6">
          <canvas id="myChart" width="400" height="400">
          </canvas> 
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-danger" ng-click="deleteThisPoll()" ng-show="userID === poll.userID">Delete Poll</button>
            <!--show a delete Poll button when user is loggedin and poll belongs to user-->
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
