<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2>
            {{poll.title}}
          </h2>
          <form>
            <div class="form-group">
              <label for="vote">I would like to vote for:</label>
              <select class="form-control" id="vote">
                <option ng-repeat="(key,value) in poll.options">{{key}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="">Vote</button>
          </form>
        </div>
        <div class="col-md-6">
          ChartJS implementation here
        </div>
      </div>
    </div>
  </div>
 </div>

